.card{
    position: relative;
    background-color:var(--bg-blue-600);
    color: var(--text-color);
    border: 1px solid var(--gray-200) ;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.card > h1{
    padding-bottom: 1px;
    font-size: 1.5em;
    color: var(--primary-color);
    border-bottom: 1px solid var(--gray-200);
    
}
.description{
    resize: none;
    border:none;
    background-color: var(--bg-blue-600);
    color:var(--text-color);
    font-size: 1rem;
}
.publishedAt{
    text-align: right;
    font-size: 0.9em;
    color:var(--gray-200);
}

.arrow{
    background-color: white;
    font-size: 1em;
    height: fit-content;
    width: fit-content;
    border:none;
    margin-top: 2px;
    border-radius: 5px;

}
.arrow:hover{
    background-color:var(--primary-color);
    cursor: pointer;
}

.votacion{
    position: absolute;
    align-items: center;
    right: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    
}
