.main{
    margin: 3rem;
    background-color: var(--bg-blue-800);
    border-radius: 20px;
}

.container{
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(auto-fit, 30rem);
    
}
